{% load static %}
{% load humanize %} 

<!DOCTYPE html>
<html>
    <head>
        <title>코스토랑</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href={% static 'foods/css/styles_detail.css'%}>
    </head>

    <body>
        <div class="food-detail">
            <h2>{{ menu.name }}</h2>
            <div>{{ menu.desc }}</div>
            <p>{{menu.price | intcomma}} 원</p>

            <!-- static 파일에 대한 url 프리픽스를 가져오는 함수. url 생성 시에 사용한다. -->
            <img src={% get_static_prefix %}{{menu.img}} width="50%" height="50%">

            <p><a href="http://127.0.0.1:8000/">돌아가기</a></p>
        </div>
    </body>

</html>