<!-- 템플릿 태그 : static에 있는 정적 파일을
    현재 이 템플릿 파일에서 사용한다고 알려줌.
-->
{# 부모 템플릿 상속 #}
{% extends './base.html' %}
{% load static%}

{% block date-block %}
  <!-- 템플릿 변수 사용 -->
  <div>{{ date }}</div>
{% endblock %}


{% block food-container %}
  {% for menu in menus %}
    <div class="food">
      <img src={% get_static_prefix %}{{menu.img}} width="300px" height="200px"/>
      <div class="info">
        <h3>{{menu.name}}</h3>
        <P>{{menu.desc}}</p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
  {% endfor %}
{% endblock food-container %}
